# =========================================
# Normalize line endings automatically
# =========================================
* text=auto

# =========================================
# Python
# =========================================
*.py text eol=lf

# =========================================
# Docker
# =========================================
DockerFile text eol=lf
*.dockerfile text eol=lf

# =========================================
# YAML / Docker Compose
# =========================================
*.yml text eol=lf
*.yaml text eol=lf

# =========================================
# Shell scripts
# =========================================
*.sh text eol=lf

# =========================================
# Environment / config files
# =========================================
.env.example text eol=lf

# =========================================
# Frontend
# =========================================
*.js text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.json text eol=lf