# GitHub Personal Access Token
# Conseguilo en: Settings -> Developer Settings -> Personal access tokens -> token classic
DB_HOST=database
DB_PORT=3306
DB_NAME=MyGitDB
DB_USER=root
DB_PASSWORD=root
GITHUB_TOKEN=
